body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #e6f0f6, #ffffff);
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 1.5rem 0;
}

.header .logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav .nav-link {
    margin-left: 15px;
    font-weight: 500;
}

.card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-title {
    color: #007bff;
}

.card-body {
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 200px; /* Tamaño uniforme */
    object-fit: cover; /* Ajusta la imagen al cuadro sin deformarla */
}


.card .btn {
    margin-top: auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #0056b3;
}

footer {
    background: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #0056b3;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}
