*{
box-sizing: border-box;

}
body {
    font-family: 'Dancing Script';
    font-size: 20px;
  

}
a {

display:inline-block;

}
p {
color:blue;

}
header {

padding: 15px 0px;
position: fixed; /*se sobrepone pero a diferencia del absolute no se queda estatica arriba*/ 
top: 0px;
left: 0px;
width: 100%;
z-index: 2;
background-color: white;
}
header .container {

display: flex;
/*organiza los bloques con un mismo espaciado
flex start organiza todo al inicio 
flex end lo organiza al contrario
*/
align-items: center;
justify-content: space-between; /*le da espaciado a cada uno de los bloquesitos*/


}