@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}
table, th, td {
    border: 1px solid black;
    /*border-collapse: collapse;¨*/
    padding: 5px;
    border-spacing: 5px;
    text-align: left;
}
th {
   color: white;
   background-color: #1d3557;
   text-align: left;
}
tr:nth-child(even) {

    background-color: #f1faee;

}

tr:nth-child(odd){
    background-color: #a8dadc;
}

td {
text-align: center;

}

caption {
    font-family: "Pompiere", sans-serif;;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e63946;
    font-size: 45px;
    line-height: 70px;
}